{% extends 'base.html' %}

{% block head %}

<title>GrubYea - Confirmation Expired</title>

{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<div class="dashboard-background">
    <div class="container">
        <div class="settings-block">
			<h1 class="login-head center">Registration Confirmation</h1>
            {% include 'includes/messages.html' %}
            <h3 class="center">Your confirmation key has expired. Please create a new account.</h3>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}


{% endblock %}

{% block js %}

{% endblock %}