{% extends 'base.html' %}

{% block head %}

<title>GrubYea - Confirm Account</title>

{% endblock %}

{% block style %}

{% endblock %}

{% block content %}


<div class="container">
	<h1 class="login-head center">Registration Confirmation</h1>
    <h3 class="center">You account is now active</h3>
</div>

{% endblock %}

{% block scripts %}


{% endblock %}

{% block js %}

{% endblock %}