{% extends 'base.html' %}

{% block head %}

<title>Log In</title>
<!--meta name="description" content="Access the most engaging, fun, and customized video fitness app around ― perfect for individuals of all ages. Consisting of workout videos carefully tailored to match your specific physical needs - Senior workouts, Adult workouts, Youth workouts, and Sports Training.">
<meta name="keywords" content="senior workouts, senior fitness, senior fitness app, youth workouts, youth fitness, youth fitness app, kids workouts, kids fitness, kids fitness app, family workouts, family fitness, family fitness app, fun workouts, sports training, sports training app, basketball training, basketball training app, soccer training, soccer training app,"-->

{% endblock %}

{% block style %}

{% include 'includes/the_styles.html' %}

{% endblock %}

{% block content %}

{% if sub_or_domain %}
<div class="content"> 
    <div class="theme-auth-box">
{% else %}
<div class="dashboard-background">
    <div class="container">
        <div class="settings-block">
{% endif %}
			<h1 class="login-head center">LOG IN</h1>
			{% include 'includes/messages.html' %}
			{% if next %}
			<form action="/login/?next={{next}}" method="post" >
			{%else%}
			<form method="POST" action="">
			{% endif %}
			    {% csrf_token %}
                <hr class="no-margin-top-bottom" />
			    <div class="form-group signup">
			        <input type="text" class="form-control signup-input"  name="email" placeholder="Email">
			        <hr/>
			    </div>
			    <div class="form-group signup">
			        <input type="password" class="form-control signup-input"  name="password" placeholder="Password">
			        <hr/>
			    </div>
                <button type="submit" class="btn btn-primary btn-block menu-btn">SUBMIT</button>
			</form>

			<p class="forgot-password center">Not a member? <a {% if sub_or_domain %}href="{% url 'member_signup' %}"{% else %}href="{% url 'user_register' %}"{% endif %}>Sign Up</a><br/>Forgot your password? <a href="{% url 'password_reset' %}">Reset it</a></p>
		</div>
	</div>
</div>
{% include 'includes/the_footers.html' %}

{% endblock %}

{% block js %}

{% endblock %}