{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<br/><br/><br/>
<div class="review-wrap">
    <div class="container">
            <h2 class="oswald center">Password Reset</h2>
            <p class="center">Password reset successfully</p>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

{% endblock %}