{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<br/><br/><br/>
<div class="review-wrap">
    <div class="container">
                {% if validlink %}
                <h2 class="oswald center">Password Reset</h2>
                <p class="center">Please enter your new password.</p>
                <form method="post" action="">
                    {% csrf_token %} 
                    <div class="form-group signup">
                        {{ form.new_password1.errors }}
                        <hr/>
                        <input type="password" class="form-control signup-input"  name="new_password1" placeholder="New Password">
                        <hr/>
                    </div> 
                    <div class="form-group">
                        {{ form.new_password2.errors }}
                        <input type="password" class="form-control signup-input"  name="new_password2" placeholder="Retype Password">
                    </div>
                    <button type="submit" class="btn btn-default btn-block menu-btn">Change Password</button>
                </form>

                {% else %}

                    <p>Password reset failed</p>

                {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}