{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block style %}



{% endblock %}

{% block content %}
<br/><br/><br/>
<div class="review-wrap">
    <div class="container">
        <h2 class="oswald center">Password Reset</h2>
        <p class="center">Please submit your email address to receive instructions for resetting your password.</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.email.errors }}
            <div class="form-group signup">
                <hr/>
                <input id="id_email" maxlength="254" name="email" type="email" class="form-control signup-input" placeholder="Email Address" />
                <hr/>
                <br/>
                <button type="submit" class="btn btn-default btn-block menu-btn">Submit</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block js %}

{% endblock %}