<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <style type="text/css">
    </style>
</head>
<body>
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%;font-family:'Oswald',sans-serif;font-weight:300;">
        <tr>  	
            <td align="left"> 


                <table cellpadding="0" cellspacing="0" border="0" style="width:100%;border-bottom:2px solid #ff5722;margin:2px 0px 0px;text-align:left;">
                    <tr>
                        <td>
                            <a style="color:black;font-size:32px;text-decoration:none;font-family:'Oswald';font-weight:400;" href="{% url 'home' %}">GrubYea!</a>
                        </td>
                    </tr>
                </table>



                <table align="left" cellpadding="0" cellspacing="0" border="0" style="margin:50px 0px 50px 5px;">
                    <tr>
                        <td valign="middle" >

                            {% block content %}

                            {% endblock %}

                        </td>
                    </tr>
                </table>

                <span style="line-height:20px;"><BR />
                </span> 

                <table cellpadding="0" cellspacing="0" border="0" style="width:100%;background-color:#1e88e5;color:white;text-align:left;font-size:11px;padding:10px 10px 50px;">
                    <tr>
                        <td>To ensure delivery of our emails, please add <a href="mailto:info@GrubYea.com" style="color:#ff8964; text-decoration:underline;">info@GrubYea.com</a> to your address book.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>This email was sent to you because you are a member of GrubYea.com.<BR />
                            We respect your privacy and your email address will not be shared with anyone.</p>

                            <p>You can request not to receive future emails at any time<br/>
                            by emailing <a href="mailto:info@grubyea.com" style="color:#ff8964; text-decoration:underline;">info@grubyea.com</a> and you will be removed from our list immediately.</p>

                            <p>&copy; 2016 GrubYea&trade;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>