{% extends "emails/email_base.html" %}


{% block content %}

Please confirm your email address by following the link below:<br/><br/>
<a href="http://grubyea.sklan10.webfactional.com/register_confirm/{{ activation_key }}/">Activate Account</a>

{% endblock %}