html,body {
    padding:0;
    margin:0;
	height: 100%;/*
	font-weight: 300;
	font-family: 'Oswald', sans-serif;*/
}

.oswald{
	font-family: 'Oswald', sans-serif;
}

.heavy{
	font-weight: 700;
}

.medium{
	font-weight: 400;
}

.light{
	font-weight: 300;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.no-margin{
	margin:0px;
}

.no-padding{
	padding:0px;
}

.color-white{
	color: white;
}

.color-red{
	color: red;
}

.color-orange{
	color: #ff5722;
}

.color-pink{
    color: #ff4081;
}

.icon-peach{
	color: #ff5722;
}

.icon-green{
	color: #7cb342;
}

.underline{
	text-decoration: underline;
}

.navbar {
	width: 100%;
	margin-bottom: 0px;
	border: none;
	background-color: #ff7043;
	border-radius: 0px;
	font-weight: 100;
	font-size: 16px;
}

.nav-left{
	float: left;
}

.nav-right{
	float: right;
	position: relative;
}

.navbar-brand{
	color: white;
	font-size: 32px;
	font-weight: 400;
	transition:all .25s;
	-webkit-transition:all .25s;
	text-shadow: 2px 2px 10px #d84315, -2px -2px 10px #d84315;
}

.navbar-brand:hover{
	color: #76ff03;
}

.navbar-form {
    margin: 0px;
    margin-top: 0px;
    margin-right: -15px;
    margin-bottom: 0px;
    height: 55px;
}

.navbar-form .form-group{
	height: 100%;
	padding: 0px 12px;
	border-left: 1px solid #d84315;
}

.nav-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
	text-shadow: 1px 1px 8px #d84315, -1px -1px 8px #d84315;
}
.nav-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity: 1;
	text-shadow: 1px 1px 8px #d84315, -1px -1px 8px #d84315;
}
.nav-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
	text-shadow: 1px 1px 8px #d84315, -1px -1px 8px #d84315;
}
.nav-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
	text-shadow: 1px 1px 8px #d84315, -1px -1px 8px #d84315;
}

.navbar i{
	vertical-align: middle;
	color: #d84315;
	font-size: 24px;
    padding-left: 12px;
	transition:all .25s;
	-webkit-transition:all .25s;
}

.fa.fa-map-marker:hover{
	cursor: pointer;
	color: #ff8a65;
}

.navbar input{ 
	vertical-align: middle;
	box-shadow: none;
	background: none;
	border: none;
	height: 100%;
	color: white;
	font-size: 16px; 
	min-width: 240px;
	text-shadow: 1px 1px 8px #d84315, -1px -1px 8px #d84315;
}

.navbar input:focus{
	outline: none;
	box-shadow:none;
}

.dropdown-menu-small{
	display: none;
}

.dropdownwrap{
	height: 100%;
	display: table;
}

.dropdown a{
	color: white;
	font-size: 16px;
	vertical-align: middle;
	display: table-cell;
	text-shadow: 2px 2px 10px #d84315, -2px -2px 10px #d84315;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5000;
    display: none;
    float: left;
    width: auto;
    min-width: 200px;
    background: #CACACA;
    margin: 0px;
    padding: 12px;
    border-radius: 0px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

.btn-group.search{
	height: 55px;
}

.btn-group.search .btn{
	height: 100%;
}

.btn-group.search input{
	height: auto;
	vertical-align: middle;
}

.btn.btn-link{
	padding: 0px 6px;
	display: table;
}

.btn.btn-link:hover{
	text-decoration: none;
}

.btn.btn-link.active{
	-webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu .btn.btn-link i{
	display: table-cell;
	vertical-align: middle;
	color: white;
}

.dropdown-menu .btn.btn-link.active i{
	display: table-cell;
	vertical-align: middle;
	color: #ff5722;
}

.btn.btn-link span{
	color: black;
	font-weight: 300;
	padding: 0px 0px 0px 12px;
}

.btn.btn-link span:hover{
	color: black;
	text-decoration: none;
}

.dropdown-menu-small .btn.btn-link.active i{
	color: #fff59d;
}

.btn.btn-link.active.focus {
    outline: none;
}

.submit-btn{
	height: 100%;
	box-shadow: none;
	background: none;
	border: none;
	border-right: 1px solid #d84315;
	border-left: 1px solid #d84315;
	border-radius: 0px;
	color: white;
	font-size: 16px;
	font-weight: 100;
	padding: 6px 24px;
	text-shadow: 2px 2px 10px #d84315, -2px -2px 10px #d84315;
}

.profile-btn-wrap,
.logout-btn-wrap{
	display:inline-block;
	height:100%;
}

.nav-btn{
	height: 100%;
	vertical-align: middle;
	background: transparent;
	border: none;
	border-radius: 0px;
	color: white;
	font-size: 20px;
	transition:all .25s;
	-webkit-transition:all .25s;
	text-shadow: 2px 2px 10px #d84315, -2px -2px 10px #d84315;
}

.nav-btn:hover,
.profile-btn:hover,
.submit-btn:hover{
	background: #ff5722;
	color: white;
}

.three-lines{
	margin:15px 10px 0px 0px;
	float: right;
	text-align: right;
	display: none;
}

.lines{
	height:4px;
	color:white;
	margin-bottom:6px;
	margin-right:25px; 
	left:25%;
	background:white;
	display:block;
	width:30px;
	transition:all .5s;
	-webkit-transition:all .5s;
}

.lines-hover{
	height:4px;
	color:white;
	margin-bottom:6px;
	margin-right:0px; 
	left:0%;
	background:#7cb342;
	display:block;
	width:40px;
}

.lines-hover-last{
	height:4px;
	color:white;
	margin-bottom:6px;
	margin-right:0px; 
	left:0%;
	background:#ffee58;
	display:block;
	width:20px;
}

@media only screen and (max-width: 1150px) {
	.navbar input{ 
		min-width: 180px;
	}

	.submit-btn{
		padding: 6px 12px;
	}
}


@media only screen and (max-width: 992px) {
	.three-lines{
		display: block;
	}

	.navbar-collapse.navbar-right.collapse{
		z-index: 5000;
		position:  ;
	}

	.profile-btn-wrap,
	.logout-btn-wrap{
		display:block;
		text-align: right;
	}

	.navbar-form{
		height:auto;
		-webkit-box-shadow: none; 
        box-shadow: inset none; 
	}

	.navbar-form.navbar-right{
		clear: both;
	}

	.navbar-form.navbar-right:last-child{    
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
    	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-form .form-group {
   		display: block;    
   		height: auto;
    	padding: 0px 12px;
    	border-left: none;
    	text-align: right;
   	}

   	.navbar-form .form-control {
	    display: inline-block;
	    width: auto;
	    vertical-align: middle;
	}

	.navbar input{
    	text-align: right;
		min-width: 180px;
		background: rgb(255, 255, 255) transparent;
		/* nice browsers */
		background: rgba(255, 255, 255, 0.2);
   	}

	.nav-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color: white;
    	text-shadow: none;
	}
	.nav-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: white;
	   opacity: 1;
    	text-shadow: none;
	}
	.nav-input::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    white;
	   opacity:  1;
    	text-shadow: none;
	}
	.nav-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    white;
    	text-shadow: none;
	}

	.navbar-form .form-group.dropdown{
   		display: block;  
    	height: 36px;
    	border-left: none;
    	float: right;
    	clear: both;
    	padding: 0px 24px;
	}

	.form-group.dropdown{
		display: none!important;
	}

	.dropdown-menu-small{
		display: block;
		color: white;
		text-align: right;
		padding-right: 24px;
	}

	.dropdown-menu-small li{
		list-style: none;
	}

	.btn-group.search {
	    height: auto;
	    padding: 6px 0px;
	}

	.dropdown-menu-small .btn-group-vertical.search{
		padding: 6px 0px;
		width: auto;
	}

	.dropdown-menu-small .btn-group-vertical.search input{
		width: auto;
		display: block;
	}

	.dropdown-menu-small .btn-group-vertical.search label{
		text-align: right;
	}

	.dropdown a {
    	text-shadow: none;
	}

	.dropdown-menu {
	    position: static;
	    top: 100%;
	    left: 0;
	    right: 0;
	    z-index: 5000;
	    display: none;
	    float: left;
	    width: auto;
	    min-width: 200px;
	    background: #CACACA;
	    margin: 0px;
	    padding: 12px;
	    border-radius: 0px;
	    font-size: 16px;
	    color: #333;
	    text-align: left;
	}

	.submit-btn{
    	height: 36px;
		border-right: none;
		border-left: none;
		float: right;
    	clear: both;
    	padding: 0px 24px;
    	text-shadow: none;
		font-size: 20px;
		font-weight: 400;
	}

	.nav-btn{
		padding: 6px 24px;
    	text-shadow: none;
	}
}

.alert {
	border: 4px solid #689f38;
	background-color: #558b2f;
	padding: 8px 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	text-align: center;
	color: white;
}

/*--- MODAL AUTH ---*/
/*--- MODAL AUTH ---*/
/*--- MODAL AUTH ---*/
.modal-body{
	padding:0px;
}

#pictures-modal .modal-body{
	padding:12px;
}

.modal-content{
	border-radius: 0px;
}

#auth-modal .modal-header,
#pictures-modal .modal-header {
    border-bottom: none;
    padding: 0px 0px 0px 0px;
}

#pictures-modal .modal-header.header-2,
#pictures-modal .picture-content{
	display: none;
}

.nav.nav-tabs,
.modal-header{
	background: #ff7043;
	color: white;
}

.nav.nav-tabs-profile{
	background: #333;
}

.nav-tabs-profile>li.active>a {
    border: 1px solid white;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 0;
    color: white;
}

.nav-tabs>li>a:hover {
    color: #333;
}

.nav-tabs-profile>li.active>a, 
.nav-tabs-profile>li.active>a:hover, 
.nav-tabs-profile>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid white; 
    border-bottom-color: transparent;
}

ul.errorlist > li {
    text-align: center;
    color: red;
    font-weight: 600;
}

.signup-input,
.profile-input{
	background-color: white;
	border: none;
	height: 70px;
	text-align: center;    
	box-shadow: none;
	color: black; 
	font-size: 16px; 
    font-weight: 200;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.signup-text-field{
	background-color: white;
	border: none;
	height: 150px;
	text-align: center;    
	box-shadow: none;
	color: black; 
	font-size: 16px; 
    font-weight: 200;
	padding-top: 15px;
	-webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.signup-input:focus,
.signup-text-field:focus {
	background-color: whitesmoke;
	outline: none;
	box-shadow: none;
}

.profile-input:focus{
	background-color: whites;
	outline: none;
	box-shadow: none;
}

.form-control.signup-input:focus,
.form-control.signup-text-field:focus,
.form-control..profile-input:focus  {
    border-color: #eee;
}

.form-group.signup{
	margin-bottom: 0px;
	padding-top: 0px;
}

.form-group.signup > hr,
.form-group > hr  {
    margin-top: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.menu-btn{
	background-color: #aed581;
	font-size: 18px;
	color: #333;
	padding: 8px 0px;
	height: 50px;
	border-radius: 0px;
	transition:all .15s;
	-webkit-transition:all .15s;
}

.menu-btn:hover{
	background-color: #689f38;
	color: #333;
}

#menu-modal .table>tbody>tr>td{
	padding: 0px 8px;
}

/*--- CONTENT BLOCKS ---*/
/*--- CONTENT BLOCKS ---*/
/*--- CONTENT BLOCKS ---*/

.panels {
    position:relative;
    height:auto;
    width:100%;
    z-index:1000;
}

.panels-side-by {
    position:relative;
    height:auto;
    width:50%;
    z-index:1000;
}

#a{
	height: 600px;
    display: block;
    position: relative;
}

#a-small{
	min-height: 500px;
	min-width: 100%;
	background: url('/static/images/home-trainer-small.jpg') center center no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: none;
}

#a-small img{
	padding: none;
}

#a-small > .training > h1.training-header{
	margin-bottom: 0px;
}

#a-small > .training > p{
	color: white;
	margin-bottom: 0px;
	text-shadow:3px 3px 20px #2b2a2a, -3px -3px 20px #2b2a2a;
}

#b{
	padding: 40px 0px;
   	background-color: #fffde7;
   	text-align: center;
}

#b h1,
#b .col-sm-4,
#b p,
#c .container{
	visibility: hidden;
}


/*--- VIDEO BLOCK #A ---*/
/*--- VIDEO BLOCK #A ---*/
/*--- VIDEO BLOCK #A ---*/

.cd-fixed-bg {
    position: relative;
}

.cd-fixed-bg.video{
	height:100%;
	width: 100%;
    position: relative;
	background: url('/static/images/biscuits.jpg') center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media only screen and (max-width: 768px) {
	.cd-fixed-bg.video{
		height:100%;
		width: 100%;
	    position: relative;
		background: url('/static/images/biscuits.jpg') left center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.video{
	height:auto;
	width: 100%;
} 

.vid-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4) ;
	/* url('/static/images/menu-sep-white.png') center center repeat */
	opacity: 0.6;
}

.main-text{
  	height: 250px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	text-align: center;
	color:#ff004e;
	font-size: 24px;
	z-index: 1001;
	display: block;
}

.main-text p{
	visibility: hidden;
}

.main-text .input-group{
	visibility: hidden;
}

.main-text > img{
	margin: 0px auto;
	max-height: 180px;
}

.main-text > h1{
	color:white;
	margin: 0px;
	text-align: center;
	font-size: 80px;
	text-shadow:3px 3px 20px #2b2a2a, -3px -3px 20px #2b2a2a;
} 

.main-text > h3{
	color:white;
	margin: 0px;
	text-align: center;
	font-size: 50px;
	text-shadow:3px 3px 20px #2b2a2a, -3px -3px 20px #2b2a2a;
} 

.main-text p{
	text-shadow:3px 3px 20px #2b2a2a, -3px -3px 20px #2b2a2a;
}

.btn-main{
	border: 4px solid #f23b79;
	background-color: #ff4081;
	font-size: 24px;
	color: white;
	font-weight: 400;
	padding: 8px 40px;
	margin-top: 14px;
	transition:all .7s;
	-webkit-transition:all .7s;
}

.btn-main:hover{
	border: 4px solid white;
	background-color: white;
	color: black;
	font-weight: 500;
}

.mailing-input{
	border-radius: 4px;
	border:none;
	height: 50px;
	min-width: 260px;
	font-size: 20px;
	text-align: center;
}

@media only screen and (max-width: 480px) {
	.mailing-input{
		min-width: 100%;
	}
}

.mailing-btn{
	border-radius: 4px;
	border:4px solid #8bc34a;
	background-color: #8bc34a;
	color: #333;
	height: 50px;
	font-size: 20px;
	transition:all .15s;
	-webkit-transition:all .15s;
}

.mailing-btn:hover{
	background-color: #aed581;
	border-top: 4px solid #aed581;
	border-right: 4px solid #aed581; 
	border-bottom: 4px solid #aed581;
	cursor: pointer;
}

.input-group.email{
	box-shadow: 0px 0px 20px #2b2a2a;
}


/*--- REVIEW FORM ---*/
/*--- REVIEW FORM ---*/
/*--- REVIEW FORM ---*/


#review-form .col-xs-2{
	display:table;
	height:70px;
}

#review-form .col-xs-2 .checkbox,
#review-form .col-xs-2 .btn-group{
	display:table-cell;
	vertical-align:middle;
}

#review-form .btn-group.pull-right{
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	right: 0;
}

#review-form .btn-group.pull-right .btn.btn-link i{
	color: #d4d4d4;
}

#review-form .btn-group.pull-right .btn.btn-link.active i{
	color: #ff5722;
}

.review-form-error,
.other-item-name-error{
	width:100%;
	text-align:center;
	color:red;
}

.btn-file,
.btn-file-profile {
    position: relative;
    overflow: hidden;
	background: whitesmoke;
	width: 240px;
	height: 240px;
	margin: auto;
}

.btn-file i{
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    height: 16px;
    width: 100%;
    text-align: center;
    margin:auto;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-file-profile input[type=file] {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.review-image{
	width: 100%;
	height: 100%;
	background: none;
	border:none;
}


/*--- PROFILES ---*/
/*--- PROFILES ---*/
/*--- PROFILES ---*/

.profile-backdrop{
	height: 100%;
	width: 100%;
	background: whitesmoke;
}

.whitesmoke-background{
	background: white;
	border: 1px solid #ddd;
	padding-left: 0px;
	padding-right: 0px;
}

.light-blue-background{
	background: #EDF7FF;
	height: 100%;
}

.inside-full-height {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.content {
  padding: 12px 3px;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}


@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-xs-top {
    vertical-align: top;
  }

  .col-xs-middle {
    vertical-align: middle;
  }

  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-sm-top {
    vertical-align: top;
  }

  .col-sm-middle {
    vertical-align: middle;
  }

  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-md-top {
    vertical-align: top;
  }

  .col-md-middle {
    vertical-align: middle;
  }

  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  .col-lg-top {
    vertical-align: top;
  }

  .col-lg-middle {
    vertical-align: middle;
  }

  .col-lg-bottom {
    vertical-align: bottom;
  }
}

.image-box{
	padding: 20px;
	border:1px solid #DEDCDC;
}

.image-box-bottom{
	padding: 20px;
	border-bottom:1px solid #DEDCDC;
}

.profile-btn{
	background: #aed581;
	height:190px;
	margin-bottom: 13px; 
	border: none;
	border-radius: 4px;
	font-size: 20px;
	color: #333;
	vertical-align: middle;
	transition:all .25s;
	-webkit-transition:all .25s;
}

.profile-btn:hover{
	background: #8bc34a;
	color: black;
}

@media (max-width: 992px) {
	.profile-btn{
		height:70px; 
	}
}