.sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
    padding: 20px 20px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.nav-sidebar:hover{
    color: #ff5722;
    background-color: #eee;
}

.nav-sidebar a{
    color: #333;
}

.nav-sidebar a.help-block.small{
    display: inline-block;
    color: #737373;
    margin-bottom: 0px;
}


/*
* Main content
*/

.main {
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.main .page-header {
    margin-top: 0;
}

.map-row{
    margin-right: 0px;
    margin-left: 0px;
}

#map {
    height: 100%;
}

#location-map{
    height: auto;
    min-height: 550px;
}

.directions-panel{
    height: 550px;
    overflow-y: scroll;
}

.location-details{
    position: absolute;
    top: 60;
    padding-left: 15px;
    text-align: left;
}
@media only screen and (max-width: 768px) {
    .location-details{
        position: relative;
        top: 60;
        padding-left: 15px;
        text-align: center;
    }
}

.location-details p{
    margin-bottom: 0px;
}

.your-location{
    display: none;
}

.review-wrap-header{
    background: #333;
    width: 100%;
    color: white;
}
.review-wrap-header h4,
.review-wrap h4{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

.details-wrap{
    padding: 10px 0px 0px 20px;
}

.borderless td, 
.borderless th {
    border-top: none;
    vertical-align: middle;
}

.review-wrap{
    background: whitesmoke;
    min-height: 50%;
    width: 100%;
    padding-top: 24px;
    overflow:auto;
}

.no-pic{
    width: 140px;
    height: 140px;
    background: #A3A3A3;
    position: relative;
    margin-left: 20px;
}

.no-pic-text{
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    height: 12px;
    width: 100%;
    text-align: center;
    margin:auto;
    color: white;
    text-shadow:3px 3px 20px black, -3px -3px 20px black;
}

.featured-imgs:hover .no-pic-text,
.location-img{
    cursor: pointer;
    color: #79BFFC;
}

@media only screen and (max-width: 768px) {
    .location-details{
        text-align: center;
    }

    .favorite{
        margin: auto;
    }

    table.hours{
        margin: 0px auto 12px;
    }

    #location-map{
        height: auto;
        min-height: 200px;
    }

    .review-wrap-header{
        text-align: center;
    }

    .review-wrap h4{
        text-align: center;
    }

    .featured-imgs img{
        margin: 0px auto 12px;
    }

    .details-wrap{
        text-align: center;
    }

    .details-wrap table{
        text-align: left;
    }

    .no-pic{
        width: 140px;
        height: 140px;
        background: #A3A3A3;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}