<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <meta name="author" content="Modern Marc Development">
        <!--link rel="shortcut icon" href="/static/images/favicon.ico">
        <link rel="icon" type="image/png" href="/static/images/favicon.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/static/images/favicon-32.png" sizes="32x32">
        <link rel="apple-touch-icon" href="/static/images/favicon-152.png" sizes="152x152"-->

        {% block head %}

        {% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/hover-min.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/home.css" rel="stylesheet">
        {% block style %}

        {% endblock %}
    </head>

    <body>

        <div id="auth-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active" id="sign-in-tab">
                                <a href="#signin-tab" aria-controls="signin-tab" role="tab" data-toggle="tab">Sign In</a>
                            </li>
                            <li role="presentation" id="sign-up-tab">
                                <a href="#signup-tab" aria-controls="signup-tab" role="tab" data-toggle="tab">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-body tab-content">
                        <div class="tab-pane active fade in" role="tabpanel" id="signin-tab">
                            <div class="signin-form-group ">
                                <form id="signin" method="POST" action="{% url 'user_login' %}?next={{ request.path }}">
                                    {% csrf_token %}
                                    <div class="form-group signup">
                                        <input type="text" class="form-control signup-input"  name="email" placeholder="Email or User Name">
                                        <hr/>
                                    </div>
                                    <div class="form-group signup">
                                        <input type="password" class="form-control signup-input"  name="password" placeholder="Password">
                                        <hr/>
                                    </div>
                                    <br/>
                                    <a href="{% url 'password_reset' %}" class="btn btn-link center-block">Forgot your password?</a><br/>
                                    <button type="submit" class="btn btn-link btn-block menu-btn">SIGN IN</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="signup-tab">
                            <div class="signin-form-group ">
                                <form id="signup" method="POST" action="{% url 'user_register' %}">
                                    {% csrf_token %}
                                    <div class="form-group signup">
                                        <input type="email" class="form-control signup-input" placeholder="Email" name="email">
                                        <hr/>
                                    </div>
                                    <div class="form-group signup">
                                        <input type="text" class="form-control signup-input" placeholder="User Name" name="username">
                                        <hr/>
                                    </div>
                                    <div class="form-group signup">
                                        <input type="password" class="form-control signup-input" placeholder="Password" name="password">
                                        <hr/>
                                    </div>
                                    <div class="form-group signup">
                                        <input type="password" class="form-control signup-input" placeholder="Password Verify" name="password_verify">
                                    </div>
                                    <button type="submit" class="btn btn-link btn-block menu-btn">SIGN UP</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/nav.html' %}

        {% include 'includes/messages.html' %}

        {% block content %}

        {% endblock %}


        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
        <script src="/static/js/ajax_func.js"></script>
        {% block scripts %}

        {% endblock %}
        <script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.dropdown-menu', function (e) {
                e.stopPropagation();
            });
            $('#myTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })

            $('.three-lines').on('mouseover',function(){
                $(this).find('.lines').first().addClass("lines-hover");
                $(this).find('.lines').last().addClass("lines-hover-last");
            });

            $('.three-lines').on('mouseout',function(){
                $(this).find('.lines').first().removeClass("lines-hover");
                $(this).find('.lines').last().removeClass("lines-hover-last");
            });

            $('.collapse.navbar-collapse.navbar-right').on('show.bs.collapse', function () {
                $('.sidebar, .main').css('top', '506px'); 
            });

            $('.collapse.navbar-collapse.navbar-right').on('hide.bs.collapse', function () {
                $('.sidebar, .main').css('top', '50px'); 
            });
            
        {% block js %}

        {% endblock %}
        });
        </script>
  </body>
</html>
