{% extends 'base.html' %}

{% block content %}

<div id="wrapper">
    <div id="a" class="panels">
        <div class="cd-fixed-bg video">
            <div class="vid-overlay "></div>
        </div>
        <div class="main-text">
            <h3 class="oswald">Find The Best Grub in Your Neighborhood</h3>
            <form id="search" method="GET" action="{% url 'search' %}">
            	<div class="form-group">
            		<div class="col-sm-4 col-sm-offset-4">
            			<p class="help-block color-white center oswald" style="font-weight:300;">Enter your location below</p>
            			<div class="input-group email">
							<input type="text" name="location" class="form-control mailing-input" placeholder="Address, City, or Zip Code" />
							<div class="input-group-addon mailing-btn" type="submit">Search</div>
						</div>
					</div>
				</div>
			</form>
        </div>
    </div>
    <div id="b" class="panels">
        <div class="container">
            <h1 style="color:black;" class="oswald">How to GrubYea!</h1>
            <br/>
            <div class="intro">
                <div class="row">
                	<div class="col-sm-4">
	                	<span class="fa-stack fa-lg fa-4x">
							<i class="fa fa-circle fa-stack-2x icon-green"></i>
							<i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
						</span>
						<h4>#1 Find the food</h4>
					</div>
                	<div class="col-sm-4">
	                	<span class="fa-stack fa-lg fa-4x">
							<i class="fa fa-circle fa-stack-2x" style="color:#f4c20d;"></i>
							<i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
						</span>
						<h4>#2 Rate the food</h4>
                	</div>
                	<div class="col-sm-4">
	                	<span class="fa-stack fa-lg fa-4x">
							<i class="fa fa-circle fa-stack-2x icon-peach"></i>
							<i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
						</span>
						<h4>#3 Write about the food</h4>
					</div>
                </div>
                <br/><br/>
                <p class="lead">Your opinion matters! BUT too many opinions is overwhelming. GrubYea makes choosing your next outing easy as pie. Rate the food, review the restaurant. Write your restaurant review but it's like a contest, only the top 5 reviews will be shown and a couple of those will be from our respected food critics.</p>
            </div>
        </div>
    </div>

    <div id="c" class="panels">
        <div class="container">
            <h1 class="center tour">Featured</h1>
            <br/><br/>
            <h2 class="center tour">PDX</h2>
            <br/><br/>
            <h2 class="center tour">Los Angeles</h2>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</div>


{% endblock %}

{% block js %}

$('.mailing-btn').on('click', function(){
	$('#search').submit();
});

function show_main_text(){
    setTimeout(function(){ $(".main-text").find('p').css('visibility','visible').hide().fadeIn(); }, 250);
    setTimeout(function(){ $(".main-text").find('.input-group').css('visibility','visible').hide().fadeIn(); }, 500);
    setTimeout(function(){ $("#b").find('h1').css('visibility','visible').hide().fadeIn(); }, 1000);
    setTimeout(function(){ $("#b").find('.col-sm-4').css('visibility','visible').hide().fadeIn(); }, 1250);
    setTimeout(function(){ $("#b").find('p').css('visibility','visible').hide().fadeIn(); }, 1500);
    setTimeout(function(){ $("#c").find('.container').css('visibility','visible').hide().fadeIn(); }, 2000);
}
show_main_text();

{% endblock %}