{% extends 'base.html' %}
{% load thumbnail %}
{% load mathfilters %}

{% block style %}
<link href="/static/css/search.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="menu-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<h4 class="modal-title" id="exampleModalLabel">{{ location.name|capfirst }} Menu <small style="color:whitesmoke;">(Menu subject to change)</small></h4>
            </div>
            <div class="modal-body tab-content">
            	<table class="table">
				{% for item in location.menuitem_set.all %}
					<tr>
						<td style="padding: 12px 0px 6px 8px;"><b>{{ item.name }}</b></td>
						{% if item.price %}
						<td style="text-align:right;padding: 12px 8px 6px 0px;"><b>${{ item.price }}</b></td>
						{% else %}
						<td style="padding: 12px 0px 6px;">&nbsp;</td>
						{% endif %}
					</tr>
					<tr>
						{% if item.description %}
						<td colspan="2" style="border-top:none;padding-bottom: 12px;">{{ item.description }}</td>
						{% else %}
						<td colspan="2" style="border-top:none;padding-bottom: 12px;">&nbsp;</td>
						{% endif %}
					</tr>
				{% endfor %}
				</table>
            </div>
        </div>
    </div>
</div>

<div id="pictures-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header header-1">
                <ul class="nav nav-tabs">
                	{% for image in images %}
                	{% if forloop.counter == 1 %}
                    <li role="presentation" class="active" id="tab-0">
                        <a href="#open-tab-0" aria-controls="open-tab-0" role="tab" data-toggle="tab">0</a>
                    </li>
                	{% elif forloop.counter|divisibleby:24 %}
                    <li role="presentation" id="tab-{{ forloop.counter|div:24 }}">
                        <a href="#open-tab-{{ forloop.counter|div:24 }}" aria-controls="open-tab-{{ forloop.counter|div:24 }}" role="tab" data-toggle="tab">{{ forloop.counter|div:24 }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-header header-2">
                <ul class="nav nav-tabs">
                	<li role="presentation" class="active back">
                		<a href="#" role="tab">Back</a>
                	</li>
                </ul>
            </div>
            <div class="modal-body tab-content">
                <div class="tab-pane active fade in" role="tabpanel" id="open-tab-0">
            		<div class="row">
            		{% for image in images %}
            			<div class="col-xs-2">
							{% if image.image_str %}
								<img src="{{ image.image_str }}" class="location-img img-responsive" data-pic="{{ image.image_str }}" style="width:100%;height:100%;" />
							{% elif image.image %}
								<img src="{% thumbnail image.image 400x400 crop %}" class="location-img img-responsive" data-pic="{{ MEDIA_URL }}{{ image.image }}" style="width:100%;height:100%;" />
							{% endif %}
            			</div>
            		{% if forloop.counter|divisibleby:6 and not forloop.counter|divisibleby:24 %}
					</div>
					<br/>
            		<div class="row">	
            		{% elif forloop.counter|divisibleby:24 %}
					</div>
                </div>
                <div class="tab-pane active fade in" role="tabpanel" id="open-tab-{{ forloop.counter|div:24 }}">
            		<div class="row">
                {% endif %}
                {% endfor %}
                	</div>
                </div>
            </div>
            <div class="modal-body picture-content">
				pictures here
            </div>
        </div>
    </div>
</div>

<div class="row map-row">
	<div class="col-sm-4">
		<div class="location-details">
			<h3 class="oswald">{{ location.name }} <small class="icon-green">{% if location.price == 1 %}${% elif location.price == 2 %}$${% elif location.price == 3 %}$$${% elif location.price == 4 %}$$$${% endif %}</small></h3>
			<p>{{ location.address }}<br/>
				{{ location.city }}, {{ location.state }}<br/>
				{{ location.zip_code }}<br/>
				{% if location.phone %}
				{{ location.phone }}<br/>
				{% endif %}
				{% if location.website %}
				<a href="http://{{ location.website }}" target="_blank">{{ location.website|capfirst }}</a><br/>
				{% endif %}
				<a href="#" class="get-directions">Get Directions</a><br/>
				{% if location.menuitem_set.all %}<a href="#" data-toggle="modal" data-target="#menu-modal">View Menu <i class="fa fa-cutlery"></i></a>{% endif %}
			</p>

			<div class="col-lg-6 your-location" style="padding-left:0px;">
				<br/>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Your Location" id="directions-location" />
					<span class="input-group-btn">
						<button class="btn btn-default" id="directions-submit" type="button">Go!</button>
					</span>
				</div>
				<br/>
			</div>
			<div style="clear:both;"></div>

			<br/>
			{% if request.user.is_authenticated %}
	        <form method="POST" action="{% url 'add_favorite' location.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link favorite" style="padding:0px;">
                    <h4 style="color:black;">Favorite
                        {% if favorite %} <i class="fa fa-heart color-pink"></i>
                        {% else %} <i class="fa fa-heart-o color-pink"></i>
                        {% endif %}
                    </h4>
                </button>
            </form>
            {% else %}
            <button class="btn btn-link favorite" style="padding:0px;" data-toggle="modal" data-target="#auth-modal">
                <h4 style="color:black;">Favorite
                    {% if favorite %} <i class="fa fa-heart color-pink"></i>
                    {% else %} <i class="fa fa-heart-o color-pink"></i>
                    {% endif %}
                </h4>
            </button>
            {% endif %}

			{% if location_hours %}
			<h4>Hours</h4>
			<table class="hours">
				{% for hour in location_hours %}
				<tr>
					<td style="padding:0px 5px 0px 0px">{{ hour.get_day_display }}</td>
					<td style="padding:0px 5px">{{ hour.open_time }}</td>
					<td style="padding:0px 5px">{{ hour.close_time }}</td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
	</div>
	<div id="location-map" class="col-sm-8 col-sm-offset-4"></div>
	<div id="directions-panel"></div>
</div>
<div class="review-wrap-header">
	<h4>Ratings & Reviews</h4>
</div>
<div class="review-wrap">
	<div class="fluid-container">
		<div class="col-sm-8">
			<div class="item-image_wrap">
				<h4>Photos</h4>
				{% if images %}
				<div class="row map-row" style="padding:0px 20px;">
					{% for image in images|slice:":3" %}
					<div class="col-sm-4">
						<a href="#" data-toggle="modal" data-target="#pictures-modal" style="color:whitesmoke;" class="featured-imgs">
							{% if image.image_str %}
							<img src="{{ image.image_str }}" class="img-responsive" />
							{% elif image.image %}
							<img src="{% thumbnail image.image 400x400 crop %}" class="img-responsive" />
							{% endif %}
							<div class="no-pic-text">View All <i class="fa fa-external-link" aria-hidden="true"></i></div>
						</a>
					</div>
					{% endfor %}
				</div>
				{% else %}
				<div class="no-pic">
					<div class="no-pic-text">No Photos</div>
				</div>
				{% endif %}
			</div>
			<br/><br/>
			<div class="item-image_wrap">
				<h4>Curated Reviews</h4>
				<div class="details-wrap">
					{% for review in location.locationreview_set.all %}
					<p><b>{{ review.user.username|capfirst }} - {{ review.timestamp|date:"N d, Y" }}</b><br/>{{ review.review }}</p>
					{% empty %}
					<p>Review {{ location.name|capfirst }}</p>
					{% endfor %}
					<a {% if request.user.is_authenticated %}href="{% url 'write_review' location.slug %}"{% else %}href="#" data-toggle="modal" data-target="#auth-modal"{% endif %}>
						<button class="btn btn-default">Write a Review</button>
					</a>
				</div>
			</div>
			<br/><br/>
			<div class="item-image_wrap">
				<h4>Top Rated Items</h4>
				<div class="details-wrap">
					{% if the_ratings %}
					<div class=" row">
						<div class=" col-sm-6">
							<table class="table table-striped table-condensed">
							{% for rating in the_ratings %}
								{% if rating.average > 0 or rating.count > 0 %}
									<tr style="border-top: none;vertical-align: middle;">
										<td style="border-top: none;vertical-align: middle;"><b>{{ rating.name|capfirst }}</b></td>
										<td style="border-top: none;vertical-align: middle;">{{ rating.average }}%</td>
										<td style="border-top: none;vertical-align: middle;">out of {{ rating.count }} ratings</td>
										<td style="border-top: none;vertical-align: middle;">
											{% if rating.average >= 50 %}
												<i class="fa fa-thumbs-o-up fa-2x color-orange" aria-hidden="true"></i><br/>
											{% else %}
												<i class="fa fa-thumbs-o-down fa-2x color-orange" aria-hidden="true"></i><br/>
											{% endif %}
										</td>
									</tr>
									{% for rating_description in rating_descriptions %}
										{% if rating_description.name == rating.name and rating_description.description != "" and rating_description.description %}
										<tr style="border-top: none;vertical-align: middle;">
											<td colspan="4" style="border-top: none;vertical-align: middle;"><i>"{{ rating_description.description }}" - {{ rating_description.user.username|capfirst }}</i></td>
										</tr>
										{% endif %}
									{% endfor %}
									<tr style="border-top: none;vertical-align: middle;">
										<td colspan="4" style="border-top: none;vertical-align: middle;">&nbsp;</td>
									</tr>
								{% endif %}
	                			{% if forloop.counter == ratings_half and ratings_count > 20 %}
									</table>
									</div>
									<div class=" col-sm-6">
									<table class="table table-striped table-condensed">
	                			{% endif %}
							{% endfor %}
							</table>
						</div>
					</div>
					{% else %}
					<p>Rate {{ location.name|capfirst }}'s menu items</p>
					{% endif %}
					<a {% if request.user.is_authenticated %}href="{% url 'write_review' location.slug %}"{% else %}href="#" data-toggle="modal" data-target="#auth-modal"{% endif %}>
						<button class="btn btn-default">Give a Rating</button>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<br/><br/>
			<br/>
			<br/>
			<br/>
		</div>
		<div class="col-sm-3 col-sm-offset-1 center">Ads here</div>
			<br/><br/>
			<br/>
			<br/>
			<br/>
	</div>
</div>

		

<script>
	var map;
	var external_markers = [];
	function initMap() {
		var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
		map = new google.maps.Map(document.getElementById('location-map'), {
			center: {lat: {{ location.latitude }}, lng: {{ location.longitude }} },
			zoom: 13
		});
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directions-panel'));

		marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }}),
            map: map,
            title: "{{ location.name }}"
        });

        var onChangeHandler = function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };
        document.getElementById('directions-submit').addEventListener('click', onChangeHandler);
	}


	function calculateAndDisplayRoute(directionsService, directionsDisplay) {
		var start = document.getElementById('directions-location').value;
		directionsService.route({
			origin: start,
			destination: {lat: {{ location.latitude }}, lng: {{ location.longitude }} },
			travelMode: 'DRIVING'
			}, function(response, status) {
				if (status === 'OK') {
					directionsDisplay.setDirections(response);
					map_panel = document.getElementById('location-map').className = "col-sm-4";
					directions_panel = document.getElementById('directions-panel').className = "col-sm-4 directions-panel";
					google.maps.event.trigger(map, 'resize')
				} 
				else {
					window.alert('Directions request failed due to ' + status);
				}
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-xPjC3mCbWsMUqJ3PkbleLWt5rywCKeQ&callback=initMap" async defer></script>

{% endblock %}

{% block js %}
$('.expand').on('click', function(){
	$('#location-map').animate({height: '500px'}, {done:function(){
        google.maps.event.trigger(map,'resize');
    },});
});

$('.get-directions').on('click', function(){
	$('.your-location').slideToggle();
});

$('#directions-submit').on('click', function(){
	
});

$(document).on('click', '.location-img, .back', function(){
	$('.header-1, .header-2, .modal-body.tab-content, .modal-body.picture-content').toggle();
	if($(this).hasClass('location-img')){
		var the_image = $(this).data('pic');
		$('.modal-body.picture-content').html('<img src="' + the_image + '" class="img-responsive" style="width:100%;height:100%;">');
	}
});
{% endblock %}