{% extends 'base.html' %}
{% load thumbnail %}

{% block head %}
<link href="/static/css/search.css" rel="stylesheet">
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="profile-backdrop container-fluid">
		<div class="row">
			<div class="row-height image-box-bottom">
				<div class="col-xs-12 col-sm-12 col-md-2 col-md-height col-top" style="padding-right:0px;">
					{{ profile_form.the_image.errors }}
	                <span class="btn btn-file-profile btn-block">
						{% if profile_user.image %}
							<img src="{% thumbnail profile_user.image 400x400 crop %}" class="img-responsive img-circle">
						{% else %}
							<img src="{{ STATIC_URL }}images/profile-pic.png" class="img-responsive img-circle">
						{% endif %}
	                    <input id="the-image" class="the-image" name="the_image" type="file" />
	                    <p class="center btn-link add-img">Add/Edit Image</p>
	                </span>
				</div>
				<div class="col-xs-hidden col-sm-hidden col-md-1 col-md-height"></div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-md-height col-middle" style="padding-left:0px;">
					<div class="form-group">
						{{ profile_form.username.errors }}
						<p class="center">Username</p>
						<input class="form-control profile-input" placeholder="Username" name="username" id="username" value="{{ profile_user.user.username|capfirst }}">
					</div>
					<div class="form-group">
						{{ profile_form.email.errors }}
						<p class="center">Email</p>
						<input class="form-control profile-input" placeholder="Email address" name="email" id="email" value="{{ profile_user.user.email }}">
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-md-height col-bottom">
					<div class="form-group">
						{{ profile_form.location.errors }}
						<p class="center">Location</p>
						<input class="form-control profile-input" placeholder="City, State or Full Address or Zip Code" name="location" id="location" value="{% if profile_user.location %}{{ profile_user.location|capfirst }}{% endif %}">
					</div>
					<div class="form-group">
						{{ profile_form.about_them.errors }}
						<p class="center">About</p>
						<textarea class="form-control profile-input" placeholder="Tell us about the foodie in you!" name="about_them" id="about_them">{% if profile_user.description %}{{ profile_user.description }}{% endif %}</textarea>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2 col-md-height col-bottom">
					<button class="btn profile-btn navbar-right btn-block" type="submit">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form>


<div class="light-blue-background">
	<br/><br/><br/>
	<div class="container whitesmoke-background">
	    <ul class="nav nav-tabs nav-tabs-profile">
	        <li role="presentation" class="active" id="rate-tab">
	            <a href="#ratings-tab" aria-controls="ratings-tab" role="tab" data-toggle="tab">Your Ratings & Reviews</a>
	        </li>
	        <li role="presentation" id="fav-tab">
	            <a href="#favorites-tab" aria-controls="favorites-tab" role="tab" data-toggle="tab">Your Favorites</a>
	        </li>
	    </ul>

        <div class="modal-body tab-content" style="padding:20px;">
            <div class="tab-pane active fade in" role="tabpanel" id="ratings-tab">
                {% if locations %}
                {% for location in locations %}
                <table class="table table-striped table-condensed">
					<tr>
						<th colspan="4" style="border:none;background:none;">{{ location.location }} &nbsp;<a href="{% url 'location' location.slug %}"><small>View Location</small></a></th>
					</tr>
					<tr>
						<th>Date</th>
						<th>Review</th>
						<th colspan="2">Featured</th>
					</tr>
					<tr>
						<td>{{ location.timestamp|date:"N d, Y" }}</td>
						<td>{{ location.review }}</td>
						<td colspan="2">{% if location.featured %}Featured <i class="fa fa-check-circle" aria-hidden="true"></i>{% endif %}</td>
					</tr>
					{% if location.ratings %}
					<tr>
						<th colspan="4">&nbsp;</th>
					</tr>
					<tr>
						<th colspan="4" style="border:none;background:none;">Your {{ location.location|capfirst }} Ratings</th>
					</tr>
					<tr>
						<th>Date</th>
						<th>Item</th>
						<th>Item Review</th>
						<th>Item Rating</th>
					</tr>
					{% for rating in location.ratings %}
					<tr>
						<td>{{ rating.timestamp|date:"N d, Y" }}</td>
						<td>{{ rating.name }}</td>
						<td>{{ rating.description }}</td>
						<td>{% if rating.rating %}<i class="fa fa-thumbs-o-up fa-2x color-orange" aria-hidden="true"></i>{% else %}<i class="fa fa-thumbs-o-down fa-2x color-orange" aria-hidden="true"></i>{% endif %}</td>
					</tr>
					{% endfor %}
					{% endif %}
					{% if location.images %}
					<tr>
						<td colspan="4" style="border:none;background:none;">
							<div class="row">
							{% for image in location.images %}
								<div class="col-sm-3"><img src="{% thumbnail image.image 400x400 crop %}" class="img-responsive"></div>
					        {% if forloop.counter|divisibleby:4 %}
					        </div>
					        <br/>
					        <div class="row">
					        {% endif %}
							{% endfor %}
							</div>
						</td>
					</tr>
					{% endif %}
				</table>
				<br/><br/>
				{% endfor %}
				<nav>
					<ul class="pager">
						{% if locations.has_previous %}
							<li><a href="?page={{ locations.previous_page_number }}">Previous</a></li>
			        	{% endif %}

				        {% if locations.has_next %}
							<li><a href="?page={{ locations.next_page_number }}">Next</a></li>
				        {% endif %}
					</ul>
				</nav>
				{% else %}
				<p>No Ratings or Reviews</p>
				<button class="btn btn-default centerblock">Find Grub to Review</button>
                {% endif %}
            </div>
            <div class="tab-pane fade" role="tabpanel" id="favorites-tab">
            	{% if favorites %}
            	<div class="row">
                {% for favorite in favorites %}
					<div class="col-xs-3"><a href="{{ favorite.get_absolute_url }}">{{ favorite.location.name|capfirst }}</a></div>
					{% if forloop.counter|divisibleby:4 %}
			        </div>
			        <br/>
			        <div class="row">
			        {% endif %}
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
	<br/><br/><br/>
</div>

{% endblock %}

{% block js %}




//When images change call the function above
$(document).on('change', ".the-image", function(){
    readURL(this);
});


//Add new images into slots
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
			$('.add-img').toggle();
        	var img = $(input).siblings("img");
        	img.attr({'src': e.target.result});
        	img.after('<button class="btn btn-link center-block color-red remove-img">Remove Image</button>')
        }
        reader.readAsDataURL(input.files[0]);
    }
}


//remove uploaded image
$(document).on("click", ".remove-img", function(e){
	$('.add-img').toggle();
	var img = $(this).siblings("img");
	img.attr("src", "{{ STATIC_URL }}/images/profile-pic.png");
	var the_input = img.siblings("input");
	the_input.wrap('<form>').closest('form').get(0).reset();
  	the_input.unwrap();

    $(this).remove();
    e.preventDefault();
});

{% endblock %}