{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container">
	<br/><br/><br/>
	<h2 class="center oswald">What did you have at {{ location.name|capfirst }}?</h2>
	<small class="help-block center">*If not listed select other</small>
	<br/>
	<form method="post" action="" id="review-form" enctype="multipart/form-data">
		{% csrf_token %}
		{% for item in location.menuitem_set.all %}
		<div class="form-group signup">
			<div class="row">
				<hr style="margin:0px;">
				<div class="col-xs-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" data-id="{{ forloop.counter }}" value="{{ item.name }}"> {{ item.name }}
						</label>
					</div>
				</div>
				<div class="col-xs-8">
					<input type="text" class="form-control signup-input food-description" data-id="{{ forloop.counter }}" placeholder="How was it?" maxlength="140">
				</div>
				<div class="col-xs-2">
					<div class="btn-group pull-right" data-toggle="buttons">
						<label class="btn btn-link">
							<input type="radio" data-id="{{ forloop.counter }}" value="1">
							<i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
						</label>
						&nbsp;
						<label class="btn btn-link">
							<input type="radio" data-id="{{ forloop.counter }}" value="2">
							<i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
						</label>
					</div>
				</div>
				<hr style="margin:0px;">
			</div>
		</div>
		{% endfor %}
		<div class="form-group signup other">
			<div class="row">
				<hr style="margin:0px;">
				<div class="col-xs-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="other" data-id="{{ first_other }}"> Other
						</label>
					</div>
				</div>
				<div class="col-xs-4">
					<input type="text" class="form-control signup-input" id="other-item-name" placeholder="What did you have?" maxlength="140" data-id="{{ first_other }}">
				</div>
				<div class="col-xs-4">
					<input type="text" class="form-control signup-input food-description" id="" placeholder="How was it?" maxlength="140" data-id="{{ first_other }}">
				</div>
				<div class="col-xs-2">
					<div class="btn-group pull-right" data-toggle="buttons">
						<label class="btn btn-link">
							<input type="radio" id="option-other" data-id="{{ first_other }}" value="1">
							<i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
						</label>
						&nbsp;
						<label class="btn btn-link">
							<input type="radio" id="option-other" data-id="{{ first_other }}" value="2">
							<i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
						</label>
					</div>
				</div>
				<hr style="margin:0px;clear:both;">
			</div>
		</div>
		<br/>
		<p class="btn btn-link center-block add-another">Add Another</p>
		<br/><br/><br/>
		<div class="form-group">
			{% if new_review %}
			<h4 class="center">Update your review</h4>
			{% else %}
			<h4 class="center">Review the restaurant</h4>
			{% endif %}
			<small class="help-block center">Tell others about your experience. How was the service? Was the place clean? Would you recommend them to others?</small>
			<hr>
			<textarea class="form-control signup-input" placeholder="Write restaurant review here" name="restaurant_review" id="restaurant_review">{% if new_review %}{{ new_review.review }}{% endif %}</textarea>
			<hr>
		</div>
		<br/>
		<h4 class="center">Add Pictures</h4><br/>
		<div class="row">
			<div class="col-sm-4">
                <span class="btn btn-default btn-file btn-block">
					<i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
                    <input id="the-image" class="the-image" name="the-image" type="file" />
                </span>
			</div>
			<div class="col-sm-4">
                <span class="btn btn-default btn-file btn-block">
					<i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
                    <input id="the-image" class="the-image" name="the-image" type="file" />
                </span>
			</div>
			<div class="col-sm-4">
                <span class="btn btn-default btn-file btn-block">
					<i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
                    <input id="the-image" class="the-image" name="the-image" type="file" />
                </span>
			</div>
		</div>
		<br/><br/>
		<input type="hidden" id="data-to-submit" name="all_data">
		<button type="submit" class="btn btn-link btn-block menu-btn submit-form">Submit</button>
	</form>
	<br/><br/><br/>
</div>

{% endblock %}

{% block js %}

var data_other = {{ first_other }} + 1;
$(".add-another").on("click", function(){
	var new_other = '<div class="form-group signup other"><div class="row"><div class="col-xs-2"><div class="checkbox"><label><input type="checkbox" id="other" data-id="' + data_other + '"> Other</label></div></div><div class="col-xs-4"><input type="text" class="form-control signup-input" id="other-item-name" placeholder="What did you have?" maxlength="140" data-id="' + data_other + '"></div><div class="col-xs-4"><input type="text" class="form-control signup-input food-description" id="" placeholder="How was it?" maxlength="140" data-id="' + data_other + '"></div><div class="col-xs-2"><div class="btn-group pull-right" data-toggle="buttons"><label class="btn btn-link"><input type="radio" id="option-other" data-id="' + data_other + '" value="1"><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i></label>&nbsp;<label class="btn btn-link"><input type="radio" id="option-other" data-id="' + data_other + '" value="2"><i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i></label></div></div><hr style="margin:0px;clear:both;"></div></div>'
	$('.other:last').after(new_other)
	data_other++;
});


//When images change call the function above
$(document).on('change', ".the-image", function(){
    readURL(this);
});


//Add new images into slots
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
        	var btn_file = $(input).closest(".btn-file");
        	btn_file.css({'background': "url('"+ e.target.result +"') no-repeat center center", "-webkit-background-size": "cover", "-moz-background-size": "cover", "-o-background-size": "cover", "background-size": "cover"});
        	$(input).siblings().css("display", "none");
        	btn_file.after('<button class="btn btn-link center-block color-red remove-img">Remove Image</button>')
        }
        reader.readAsDataURL(input.files[0]);
    }
}


//remove uploaded image
$(document).on("click", ".remove-img", function(e){
	var the_sibling = $(this).siblings()
	the_sibling.css("background", "whitesmoke");
	the_sibling.find(".fa").toggle();
	var the_input = the_sibling.find("input");
	the_input.wrap('<form>').closest('form').get(0).reset();
  	the_input.unwrap();

    $(this).remove();
    e.preventDefault();
});


$(document).on('click', ".submit-form", function(e){
	e.preventDefault();
	e.stopPropagation();
	var to_server = [];
	var checked_inputs = $(document).find("input[type=checkbox]:checked");
	checked_inputs.each(function(){
		var data_id = $(this).data("id");
		var the_row = $(this).closest(".row")
		var the_radios = $("input[type=radio][data-id='" + data_id + "']");
		var checked;
		the_radios.each(function(){
			var label_active = $(this).closest('label'); 
			if(label_active.hasClass("active")){
				checked = $(this).val();
			}
		});

		if (!checked){
			if(the_row.find('.review-form-error').length == 0){
				the_row.prepend('<div class="review-form-error">Please give a thumbs up or down</div>')
			}
		}
		else{
			the_row.find(".review-form-error").remove();
		}


		if($(this).is("#other")){
			var other_item_name = $("#other-item-name[data-id='" + data_id + "']");
			if (!other_item_name.val()){
				if (the_row.find('.other-item-name-error').length == 0){
					the_row.prepend('<div class="other-item-name-error">Please give the items name</div>')
				}
			}
			else{
				the_row.find(".other-item-name-error").remove();
			}
		}

		var ready_for_server;
		for (i=0; i < to_server.length; i++){
			if (to_server[i]['id'] === data_id){
				to_server[i]['description'] = $(".food-description[data-id='" + data_id + "']").val();
				to_server[i]['good'] = checked;
				ready_for_server = 1;
			}
		}

		if (!ready_for_server){
			var the_data = {'id': data_id, 'name': null, 'description': $(".food-description[data-id='" + data_id + "']").val(), 'good': checked}
			if($(this).is("#other")){
				the_data.name = $("#other-item-name[data-id='" + data_id + "']").val();
			}
			else{
				the_data.name =  $(this).val();
			}
			to_server.push(the_data);
		}
	});

	var restaurant_review = $('#restaurant_review').val();
	review_parent = $('#restaurant_review').closest('div');
	if ( (!restaurant_review) || restaurant_review.length === 0 || restaurant_review === "" ){
		if (review_parent.find('.review-form-error').length == 0){
			review_parent.find('h4').after('<div class="review-form-error">Restaurant review is required</div>')
		}
	}
	else{
		review_parent.find(".review-form-error").remove();
	}

	if (($('.review-form-error').length == 0) && ($('.other-item-name-error').length == 0)){
		$('#data-to-submit').val(JSON.stringify(to_server));
		console.log('ready to submit', $('#data-to-submit').val());
		e.stopPropagation();
		$("#review-form").submit();
	}
});
{% endblock %}