{% extends 'base.html' %}

{% block head %}
<link href="/static/css/search.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-xs-12 sidebar" style="position:fixed;">
			
			{% for location in locations %}
				<div class="nav-sidebar" data-id="{{ forloop.counter0 }}">
					<a href="{% url 'location' location.slug %}">{{ location.name }} <span style="text-align:right;"> - {% if location.price == 1  %}${% elif location.price == 2  %}$${% elif location.price == 3  %}$$${% elif location.price == 4  %}$$$${% endif %}</span></a>
					<br/>
					<span class="help-block small">{{ location.address }} {{ location.city }}, {{ location.state }} {{ location.zip_code }}
					<br/>
					{% for tag in location.tag.all %}
						<a href="?location={{ get_loc }}&name_or_category={{ tag }}" class="help-block small">
								{{ tag }}&nbsp;
						</a>
					{% endfor %}
				</div>
			{% empty %}
				<div class="nav-sidebar">
					<h4 class="center">No Locations</h4>
					<p class="center">GrubYea is currently only serving<br/><a href="?location=97205" class="underline">Portland OR</a><br/>and<br/><a href="?location=hollywood+ca" class="underline">Los Angeles CA</a></p>
				</div>
			{% endfor %}

			<nav>
				<ul class="pager">
					{% if locations.has_previous %}
						<li><a href="?location={{ get_loc }}&page={{ locations.previous_page_number }}{% if name_or_category %}&name_or_category={{ name_or_category }}{% endif %}{% if get_radius %}&radius={{ get_radius }}{% endif %}{% for price in prices %}&price={{ price }}{% endfor %}">Previous</a></li>
		        	{% endif %}

			        {% if locations.has_next %}
						<li><a href="?location={{ get_loc }}&page={{ locations.next_page_number }}{% if name_or_category %}&name_or_category={{ name_or_category }}{% endif %}{% if get_radius %}&radius={{ get_radius }}{% endif %}{% for price in prices %}&price={{ price }}{% endfor %}">Next</a></li>
			        {% endif %}
				</ul>
			</nav>
		</div>

		<div class="col-sm-9 col-sm-offset-3 col-xs-hidden main" style="position:fixed;padding-left: 0px;padding-right: 0px;">
			<div id="map"></div>
		</div>
	</div>
</div>

<script>
	var map;
	var external_markers = [];
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: {{ latitude }}, lng: {{ longitude }} },
			zoom: 12
		});

		{% if locations %}
		var markers = [
			{% for loc in locations %}
			['{{ loc.name }}', {{ loc.latitude }}, {{ loc.longitude }}, {{ forloop.counter0 }}],
			{% endfor %}
		];
		{% endif %}
	                        
	    // Info Window Content
	    {% if locations %}
	    var infoWindowContent = [
	    	{% for loc in locations %}
	        ['<div class="info_content">' +
	        '<a href="{% url 'location' loc.slug %}"><h4>{{ loc.name}}</h4></a>' +
	        '<p>{{ loc.address }}<br/>{{ loc.city }}, {{ loc.state }}, {{ loc.zip_code }}</p>' +        
	        '</div>'],
	        {% endfor %}
	    ];
	    {% endif %}
	        
	    // Display multiple markers on a map
	    var bounds = new google.maps.LatLngBounds();
	    var infoWindow = new google.maps.InfoWindow(), marker, i;
		for( i = 0; i < markers.length; i++ ) {
	        marker = new google.maps.Marker({
	            position: new google.maps.LatLng(markers[i][1], markers[i][2]),
	            map: map,
	            title: markers[i][0],
	            id: markers[i][3]
	        });
	        
	        // Allow each marker to have an info window    
	        google.maps.event.addListener(marker, 'click', (function(marker, i) {
	            return function() {
	                infoWindow.setContent(infoWindowContent[i][0]);
	                infoWindow.open(map, marker);
	            }
	        })(marker, i));

	        bounds.extend(marker.position);
	        external_markers.push(marker)
	    }
	    map.fitBounds(bounds);
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-xPjC3mCbWsMUqJ3PkbleLWt5rywCKeQ&callback=initMap" async defer></script>

{% endblock %}

{% block js %}

function getReverseGeocodingData(lat, lng) {
    var latlng = new google.maps.LatLng(lat, lng);
    // This is making the Geocode request
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
        if (status !== google.maps.GeocoderStatus.OK) {
        	$('.fa-circle-o-notch.fa-spin').removeClass('fa-circle-o-notch fa-spin').addClass('fa-map-marker');
            alert(status);
        }
        // This is checking to see if the Geoeode Status is OK before proceeding
        if (status == google.maps.GeocoderStatus.OK) {
            console.log(results[0].formatted_address);
            $('input.address').val(results[0].formatted_address);
            $('.fa-circle-o-notch.fa-spin').removeClass('fa-circle-o-notch fa-spin').addClass('fa-map-marker');
        }
    });
}

function displayPosition(position) {
	var address = getReverseGeocodingData(position.coords.latitude, position.coords.longitude);
}

function displayError(error) {
	var errors = { 
		1: 'Permission denied',
		2: 'Position unavailable',
		3: 'Request timeout'
	};
	alert("Error: " + errors[error.code]);
}

$('.fa.fa-map-marker').on('click', function(){
	if (navigator.geolocation) {
		$(this).removeClass('fa-map-marker').addClass('fa-circle-o-notch fa-spin');
		var timeoutVal = 10 * 1000 * 1000;
		navigator.geolocation.getCurrentPosition(
			displayPosition, 
			displayError,
			{ enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
		);
	}
	else {
		alert("Geolocation is not supported by this browser");
	}
});

$('.nav-sidebar').on('mouseover', function(){
	var id = $(this).data('id');
	google.maps.event.trigger(external_markers[id], 'click');
});

{% endblock %}
