{% extends 'base.html' %}

{% block head %}

<title>GrubYea - AngelPad Vid</title>

{% endblock %}

{% block style %}

{% endblock %}

{% block content %}


<div class="container">
	{% if flatpage.content %}
		{{ flatpage.content }}
	{% endif %}
</div>

{% endblock %}

{% block scripts %}


{% endblock %}

{% block js %}

{% endblock %}