{% if messages %}
<div class="alert fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    {% for message in messages %}
    <p class="center {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}