
<nav class="navbar oswald" role="navigation">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
	        <div class="three-lines" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#the-nav" aria-expanded="false">
	            <span class="lines"></span>
	            <span class="lines"></span>
	            <span class="lines"></span>
	        </div>
			<a class="navbar-brand oswald" href="{% url 'home' %}">GrubYea!</a>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="the-nav">
			{% if request.path != '/' %}
			<form class="navbar-form navbar-left" role="search" action="{% url 'search' %}">
				<div class="form-group">
					<i class="fa fa-search" aria-hidden="true"></i>
					<input type="text" class="form-control nav-input location" name="name_or_category" value="{{ name_or_category }}" placeholder="Location name">
				</div>
				<div class="form-group">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<input type="text" class="form-control nav-input address" name="location" value="{{ get_loc }}" placeholder="Address, City, Zip, Cross Streets">
				</div>
				<div class="form-group dropdown">
					<div class="dropdownwrap">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filters <span class="caret"></span></a><br>

						<ul class="dropdown-menu">
							<li class="oswald heavy">Price Range:</li>
							<li>
								<div class="btn-group search" data-toggle="buttons">
									<label class="btn btn-link {% for price in prices %}{% if price == "1" %}active{% endif %}{% endfor %}">
										<input type="checkbox" name="price" value="1" autocomplete="off" {% for price in prices %}{% if price == "1" %}checked="checked"{% endif %}{% endfor %}> <i class="fa fa-usd" aria-hidden="true"></i>
									</label>
									<label class="btn btn-link {% for price in prices %}{% if price == "2" %}active{% endif %}{% endfor %}">
										<input type="checkbox" name="price" value="2" autocomplete="off" {% for price in prices %}{% if price == "2" %}checked="checked"{% endif %}{% endfor %}> <i class="fa fa-usd" aria-hidden="true"></i>
									</label>
									<label class="btn btn-link {% for price in prices %}{% if price == "3" %}active{% endif %}{% endfor %}">
										<input type="checkbox" name="price" value="3" autocomplete="off" {% for price in prices %}{% if price == "3" %}checked="checked"{% endif %}{% endfor %}> <i class="fa fa-usd" aria-hidden="true" ></i>
									</label>
									<label class="btn btn-link {% for price in prices %}{% if price == "4" %}active{% endif %}{% endfor %}">
										<input type="checkbox" name="price" value="4" autocomplete="off" {% for price in prices %}{% if price == "4" %}checked="checked"{% endif %}{% endfor %}> <i class="fa fa-usd" aria-hidden="true" ></i>
									</label>
								</div>
							</li>
							<li class="oswald heavy" style="margin-bottom:5px;">Distance:</li>
							<li>
								<div class="btn-group-vertical search" role="group" data-toggle="buttons">
									<table>
										<tr>
											<td valign="middle">
												<label class="btn btn-link {% if get_radius == "1" %}active{% endif %}">
													<input type="radio" name="radius" value="1" autocomplete="off" {% if get_radius == "1" %}checked="checked"{% endif %} style="visibility:hidden;" />
													<span>Walking (1 mi.)&nbsp;</span>
													<i class="fa fa-blind" aria-hidden="true"></i>
												</label>
											</td>
										</tr>
										<tr>
											<td valign="middle">
												<label class="btn btn-link {% if get_radius == "2" %}active{% endif %}">
													<input type="radio" name="radius" value="2" autocomplete="off" {% if get_radius == "2" %}checked="checked"{% endif %} style="visibility:hidden;" />
													<span>Biking (2 mi.)&nbsp;</span>
													<i class="fa fa-bicycle" aria-hidden="true"></i>
												</label>
											</td>
										</tr>
										<tr>
											<td valign="middle">
												<label class="btn btn-link {% if get_radius == "5" %}active{% endif %}">
													<input type="radio" name="radius" value="5" autocomplete="off" {% if get_radius == "5" %}checked="checked"{% endif %} style="visibility:hidden;" />
													<span>Driving (5 mi.)</span>
													<i class="fa fa-car" aria-hidden="true"></i>
												</label>
											</td>
										</tr>
										<tr>
											<td valign="middle">
												<label class="btn btn-link {% if get_radius == "12" %}active{% endif %}">
													<input type="radio" name="radius" value="12" autocomplete="off" {% if get_radius == "12" %}checked="checked"{% endif %} style="visibility:hidden;" /> 
													<span>City (12 mi.)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
													<i class="fa fa-map" aria-hidden="true"></i>
												</label>
											</td>
										</tr>
									</table>
								</div>
							</li>
						</ul>
					</div>
				</div>
					
				<ul class="dropdown-menu-small">
					<li class="oswald">Price Range:</li>
					<li>
						<div class="btn-group search" data-toggle="buttons">
							<label class="btn btn-link {% for price in prices %}{% if price == "1" %}active{% endif %}{% endfor %}">
								<input type="checkbox" name="price" value="1" autocomplete="off" {% for price in prices %}{% if price == "1" %}checked="checked"{% endif %}{% endfor %}> <i class="fa fa-usd" aria-hidden="true"></i>
							</label>
							<label class="btn btn-link {% for price in prices %}{% if price == "2" %}active{% endif %}{% endfor %}">
								<input type="checkbox" name="price" value="2" autocomplete="off" {% for price in prices %}{% if price == "2" %}checked="checked"{% endif %}{% endfor %}> <i class="fa fa-usd" aria-hidden="true"></i>
							</label>
							<label class="btn btn-link {% for price in prices %}{% if price == "3" %}active{% endif %}{% endfor %}">
								<input type="checkbox" name="price" value="3" autocomplete="off" {% for price in prices %}{% if price == "3" %}checked="checked"{% endif %}{% endfor %}> <i class="fa fa-usd" aria-hidden="true" ></i>
							</label>
							<label class="btn btn-link {% for price in prices %}{% if price == "4" %}active{% endif %}{% endfor %}">
								<input type="checkbox" name="price" value="4" autocomplete="off" {% for price in prices %}{% if price == "4" %}checked="checked"{% endif %}{% endfor %}> <i class="fa fa-usd" aria-hidden="true" ></i>
							</label>
						</div>
					</li>
					<li class="oswald">Distance:</li>
					<li>
						<div class="btn-group-vertical search" role="group" data-toggle="buttons">
							<table>
								<tr>
									<td valign="middle">
										<label class="btn btn-link {% if get_radius == "1" %}active{% endif %}">
											<input type="radio" name="radius" value="1" autocomplete="off" {% if get_radius == "1" %}checked="checked"{% endif %} style="visibility:hidden;" />
											<span>Walking (1 mi.)&nbsp;</span>
											<i class="fa fa-blind" aria-hidden="true"></i>
										</label>
									</td>
								</tr>
								<tr>
									<td valign="middle">
										<label class="btn btn-link {% if get_radius == "2" %}active{% endif %}">
											<input type="radio" name="radius" value="2" autocomplete="off" {% if get_radius == "2" %}checked="checked"{% endif %} style="visibility:hidden;" />
											<span>Biking (2 mi.)&nbsp;</span>
											<i class="fa fa-bicycle" aria-hidden="true"></i>
										</label>
									</td>
								</tr>
								<tr>
									<td valign="middle">
										<label class="btn btn-link {% if get_radius == "5" %}active{% endif %}">
											<input type="radio" name="radius" value="5" autocomplete="off" {% if get_radius == "5" %}checked="checked"{% endif %} style="visibility:hidden;" />
											<span>Driving (5 mi.)</span>
											<i class="fa fa-car" aria-hidden="true"></i>
										</label>
									</td>
								</tr>
								<tr>
									<td valign="middle">
										<label class="btn btn-link {% if get_radius == "12" %}active{% endif %}">
											<input type="radio" name="radius" value="12" autocomplete="off" {% if get_radius == "12" %}checked="checked"{% endif %} style="visibility:hidden;" /> 
											<span>City (12 mi.)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
											<i class="fa fa-map" aria-hidden="true"></i>
										</label>
									</td>
								</tr>
							</table>
						</div>
					</li>
				</ul>

				<button type="submit" class="btn btn-default submit-btn">Search</button>
			</form>
			{% endif %}
			<div class="navbar-form navbar-right" role="search">
				{% if request.user.is_authenticated %}
					<a href="{% url 'profile' %}" class="profile-btn-wrap"><button class="btn nav-btn navbar-right" style="margin-right:0px;">Profile</button></a>
					<form method="POST" action="{% url 'user_logout' %}?next={{ request.path }}" class="logout-btn-wrap">
						{% csrf_token %}
						<button type="submit" class="btn nav-btn navbar-right">Log out</button>
					</form>
				{% else %}
					<a href="{% url 'profile' %}" class="profile-btn-wrap" data-toggle="modal" data-target="#auth-modal">
						<button class="btn nav-btn navbar-right">Sign In</button>
					</a>
				{% endif %}
			</div>
		</div>
    </div>
</nav>